body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-image: url('obrázky/wood-411643_640.jpg');
    color: black;
    background-size: 20%;
    background-position: center;
    background-repeat: repeat;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}

/* Nadpis h1 */
header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: bold;
    color: rgb(59, 170, 105);
    -webkit-text-stroke: 2px rgb(51, 43, 43);
    text-stroke: 2px rgb(51, 46, 46);
    text-shadow: 42px 33px 4px black;
    margin-bottom: 200px;
    text-align: center;
}

header h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    color: rgb(59, 170, 105);
}

nav {
    position: relative;
    top: -160px;
    display: flex;
    justify-content: center;
    background-image: url('obrázky/firewood-2024457_640.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto; /* velikost obrázku pozadí */
    margin: 0 auto;
    padding: 51px 10vw;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

nav a {
    border: 2px solid black;
    border-radius: 20%;
    color: #3BAA69;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    padding: 14px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #575757;
    color: #ffffff;
    transform: scale(1.1);
}

/* Media query pro malé obrazovky */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 30px 5vw;
    }

    nav a {
        margin-bottom: 10px;
        font-size: 1rem;
    }
}


main {
    background-image: url('obrázky/ai-generated-8329173_960_720.png');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -160px;
}

.container img {
    width: 10%;
    position: left;
    padding: 50px;
    margin: 0 auto;
    float: left;
}



footer {
    text-align: center;
    padding: 5px;
    background-color: #494040;
    color: white;
    margin-top: 0;
}
