body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-image: url('obrázky/wood-411643_640.jpg');
    color: black;
    background-size: 20%;
    background-position: center;
    background-repeat: repeat;  
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}

/* Nadpis h1 */
header h1 {
font-family: 'Times New Roman', Times, serif;
font-size: 500%;
	font-size: 80px; /* Velikost textu */
    font-weight: bold; /* Tučné písmo */
    color: rgb(59, 170, 105); /* Barva textu průhledná */
    -webkit-text-stroke: 2px rgb(51, 43, 43); /* Černá kontura (pro prohlížeče WebKit) */
     text-stroke: 2px rgb(51, 46, 46); /* Černá kontura (pro ostatní prohlížeče) */
    text-shadow: 42px 33px 4px black;
    margin-bottom: 200px;
	text-align: center; /* Zarovnání textu na střed */
}


header h3 {
font-family: 'Times New Roman', Times, serif;
font-size: 500%;    
color:rgb(59, 170, 105) ;
}


nav {
    position: relative; /* Umístí navigaci relativně vůči rodičovskému elementu */
    top: -205px; /* Posune navigaci směrem nahoru (hodnotu lze doladit podle potřeby) */
    display: flex;
    justify-content: center;
    background-image: url('obrázky/firewood-2024457_640.webp');
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 51px 39%; /* Upraven padding pro menší výšku */
    border-radius: 10px; /* Přidání zaoblených rohů */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Přidání stínu pro lepší kontrast */
}
nav a {
    border: solid black;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 130%;
    padding: 14px 14px;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #575757;
}
main {
    padding: 150px;
    background-image: url('obrázky/ai-generated-8329173_960_720.png');
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;  
    margin-top: -160px;
}
.kontajner img {
  width:  5%;
  position: left;
  padding: 50xp;  
  margin: 20px 0px;
}


h2, p, h3  {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    color: #003366;
    
  }

footer {
    text-align: center;
    padding: 5px;
    background-color: #494040;
    color: white;
    margin-top: 0;
}